body{
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('./Img/fundo_Intro.jpg');
    background-size: cover;
    background-position: center;
}
.banner{
    padding: 1.5rem;
    text-align: center;
    color: white;
    background-color: rgb(40, 40, 40);
}
.banner h1{
    font-size: 3rem;
    color: white;
}
.banner h2{
    font-size: 2rem;
    color: white;
}
.banner a{
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: rgb(145, 145, 145);
    cursor: pointer;
    margin: 1rem;
    font-size: 2rem;
}
.banner a:hover{
    color: rgb(255, 255, 255);
}
nav{
    padding: 0.5rem 2rem;
}
.intro{
    padding: 2rem;
    text-align: center;

}
.intro h1{
    font-size: 2rem;
    color: #ffffff;
}
.intro h2{
    font-size: 1.5rem;
    color: #ffffff;
    padding: 1rem 9rem 1rem 9rem;
}
.local-data{
    text-align: center;
}
.map_text{
    display: inline flex;
}
.map_text iframe{
    width: 350px;
    height: 350px;
}
.map_text p{
    font-size: 1rem;
}
